<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {%block extra_styles %} {%endblock%}
</head>

<body>
    
    <header>
        <button class="side-button"><i class="bi bi-water"></i></button>
        <p class="title">Restaurant</p>
    </header>


    <div class="side-menu">
        <img id="logo" src="/menu/media/logo.avif">
        <h2 class="name"><i class="fa-solid fa-plate-utensils"></i>Restaurant</h2>
        <p class="social"><i class="bi bi-instagram"></i> @Restaurant</p>
        <p class="social"><i class="bi bi-facebook"></i> Restaurant97</p>
        <br>
        <p class="social" style="font-size:1.5rem;"><i class="bi bi-clock-history"></i> 19:30 - 23:30</p>
    </div>

    <div class="slide-categories">
        <div class="categories-wrapper">
            <a href="#">Comidas</a>
            <a href="#">Bebidas</a>
            <a href="#">Sobremesas</a>
            <a href="#">Tequillas</a>
            <a href="#">Cervejas</a>
        </div>
    </div>

    {% block content %}
    
    {% endblock %}

    <script src="{% static "js/base.js" %}"></script>
    {% block extra_scripts %}
    {% endblock extra_scripts %}
</body>

</html>