<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {%block extra_styles %} {%endblock%}
</head>

<body>
    
    <header>
        <button class="side-button"><i class="bi bi-water"></i></button>
        <p class="title">Restaurant</p>
    </header>


    <div class="side-menu">
        <img id="logo" src="media/logo.avif">
        <h2 class="name">Restaurant</h2>
        <p class="social"><i class="bi bi-instagram"></i> @Restaurant</p>
        <p class="social"><i class="bi bi-facebook"></i> Restaurant97</p>
    </div>


    <script src="{% static "js/base.js" %}"></script>

</body>

</html>