{% extends "base.html" %}
{% load static %}

{%block extra_styles%}<link rel="stylesheet" href="{% static "css/menu.css" %}"> {%endblock%}

{%block title%}Menu{%endblock%}

{% block extra_scripts %}
    <script src="{% static "js/time.js" %}"></script>
    <script src="{% static "js/post.js" %}"></script>
{% endblock %}

{% block content %}
    <br>
    <div class="main-container">
        <div class="start">
            <img src="/menu/media/logo.avif">
            <h1>Restaurant</h1>
        </div>
        <section class="info-box">
            <p><i class="bi bi-geo-fill"></i>&nbspCentro, Rua Bonitinha, 150</p>
            <p><i class="bi bi-clock-fill"></i></i>&nbspEntrega: 20-30 minutos</p>
            <p id="time" class="open">Aberto</p>
        </section>
        <br>
        {% regroup foods by category as food_list %}

        {% for food in food_list%}
            <h2 class="category" id="{{food.grouper}}">{{food.grouper}}</h2>
            <div class="food-list">
            {% for food in food.list %}
                <div class="food-item">
                    <img src="{{food.image.url}}">
                    <div class="food-details">
                        <h3 class="food-name">{{food.name}}</h3>
                        <p>{{food.description}}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}